.impress

  #init.step{"data-scale" => "3", "data-x" => "2500", "data-y" => "-500", :style => "line-height:2"}
    %ul
      %li
        %a{:href => "#who_am_i"} who am i
      %li
        %a{:href => "#CVinter"} skills
      %li
        %a#jcprt{:href => "#printable"} experiance
      %li
        %a{:href => "index.html"} education

  .step#title{'data-x' => "11850", 'data-y' => "3000", 'data-rotate' => "90", 'data-scale' => "3"}
    %h1
      == carl robert burton


